@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #F1F2EE;
    --dark-color: #41d8ec;
    --font-color: #435058;
    --light-color: #CEE5F2;  
}

h2,h3,p {
    color: var(--font-color);
}

/* universal selector  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    /* line-height: 1.6; */
    background-color: var(--primary-color);
    background-image: url(./img/annie-spratt-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: var(--light-color); */ 
}


.header {
    height: 60px;
    padding: 20px;
    justify-content: center;
    align-content: center;
    background-color: var(--light-color);
    overflow: hidden;
}

.logo {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
    color: var(--font-color);
}

/*  */

/* Navbar styling */
ul {
    list-style-type: none;
}

a {
    color: #333 ;
    text-decoration: none;
}


/* .navbar h1 {
    font-weight: 400;
    line-height: 1.2;
    margin: 10px 0;
} */


.navbar {
    color: #fff;
    height: 70px ;
    animation: slideInFromBottom 4s ease-in;
}

.navbar ul {
    display: flex;
} 

.navbar a {
    padding: 10px;
    margin: 0 5px;
    display: inline-block;
    color: var(--font-color);
    font-weight: 700;
    font-size: 18px;
}

.navbar .flex {
    justify-content: space-around;
}

.navbar a:hover {
    /* padding-left: 5px; */
    border-bottom: 2px solid var(--font-color);
}

.container {
    /* max-width: 110px; */
    margin: 0 auto;
    /* overflow: auto; */
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



/* showcase */
.showcase {
    height: 100vh;
    /* so if we want to position something absolute on it, we can */
    position: relative;
    padding: 10px 25px;
    font-size: 24px;
    padding-top: 100px;
}

.showcase .left {
    animation: slideInFromLeft 5s ease-in;
}

.showcase .right {
    animation: slideInFromRight 3s ease-in;
}

.showcase .middle {
    color: var(--primary-color);
    padding-top: 80px;
    height: 260px;
    width: 260px;
    text-align: center;
    border-radius: 130px;
    background-color: var(--dark-color);
    /* background-color: #f09d51; */
    background-color: var(--dark-color);
    /* align-content: center; */
}



.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   /* grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); */

    gap: 10px;
    justify-content: center;
    align-items: center;
    /* you will notice that the grid items are not centralized cos it doesn't have  HEIGHT, it's only the parent container GRID that has a height, so set height to 100% */
    height: 100%;
}


.showcase .grid {
    /* overflow: visible; */
    /* so the first one will be 55% while the form will be 45% */
    /* grid-template-columns: 33% 33% 33%; */
    /* gap: 30px; */
    align-items: center;

}

/* 


/* footer */
.footer {
    text-align: center;
    height: 100px;
    background-color: var(--light-color);
    animation: slideInFromBottom 4s ease-in;

}

p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    background-color: var()
   

}


@keyframes slideInFromLeft {
    0% {
        /* this will come from the left */
        transform: translateX(-100%);
    }

    100% {
        /* we want it to retain its original position */
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        /* this will come from the left */
        transform: translateX(100%);
    }

    100% {
        /* we want it to retain its original position */
        transform: translateX(0);
    }
}


@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

/* .navbar a1 {
    color: #fff;
    padding: 20px;
}

.navbar1 a:hover {
    border-bottom: 2px solid #fff;
} */





